body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.success-message {
 background-color: #dda;
  color: #155724;
  padding: 10px;
  margin-bottom: 20px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.action {
  white-space: nowrap;
}

.action-btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #094293;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  margin-right: 5px;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

.btn-container a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.btn-container a i {
  margin-right: 5px;
}
